<%- include('partials/head')%>
<%- include('partials/nav')%>
<div class="container">
    <div class="buttons">
        <div class="btn">
            <a href="/feedback/leavefeedback"><div class="feedback">Leave Feedback</div></a>
            <i class="fas fa-long-arrow-alt-right"></i>
        </div>
        <div class="btn">
            <a href="/feedback/othersfeedbacks"><div class="feedback">Others Feedbacks</div></a>
            <i class="fas fa-long-arrow-alt-right"></i>
        </div>
    </div>
</div>
<%- include('partials/footer')%>
