<%- include('partials/head')%>
<%- include('partials/nav')%>
<div class="mainheader">
    <h1>Information page</h1>
    <h2>About Aragatsotn</h2>
</div>
<div class="info-paje-container">
    <main>
        <section class="one">
            <div class="info-header">
                <h1>Aragatsotn</h1>
            </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis consequuntur numquam ea dolorem magni eius. Autem necessitatibus ex iusto doloremque labore corporis perferendis similique assumenda deserunt, sequi voluptatibus voluptatum,
                    quis officiis mollitia, ipsum distinctio enim aut dicta eveniet error neque corrupti. Nulla sit illo inventore sequi quasi quia itaque dolores!</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, ab nam quo perspiciatis earum eos temporibus rerum ex suscipit laborum dolore consectetur inventore dicta quis! Nostrum nobis laborum obcaecati quo accusamus suscipit
                    voluptatem, delectus expedita quod quas eveniet porro nesciunt nihil tenetur, exercitationem pariatur est. Illum voluptate sunt, esse repellat facilis est eius sequi corrupti laboriosam dolorum iusto labore consequatur harum reiciendis
                    totam veniam blanditiis, similique aut ea deserunt dolores maiores! Repudiandae dolorem, explicabo numquam beatae eum quaerat deserunt cumque dicta fuga illo consectetur! Ipsam quae, error obcaecati a, perferendis, enim rerum saepe
                    tempora voluptate voluptates expedita id quas fugiat.</p>
        </section>
        <section class="two">
            <div class="firstgalleryheader">
                <h1>Gallery</h1>
            </div>
            <div class="gallery">
                <img src="frontend/images/pic03.jpg" class="gallery_image ">
                <img src="frontend/images/pic01.jpg" class="gallery_image ">
                <img src="frontend/images/pic04.jpg" class="gallery_image ">
                <img src="frontend/images/pic05.jpg" class="gallery_image ">
            </div>
        </section>
        <section class="three">
            <div class="card">
                <div class="card-image ci-1"></div>
                <div class="card-content">
                    <h2>Ashtarak</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere et velit cumque rem nesciunt pariatur sit assumenda? Facilis ad necessitatibus ipsa deleniti provident earum id. Reprehenderit eos harum fugit iure!</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image ci-1"></div>
                <div class="card-content">
                    <h2>Ashtarak</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere et velit cumque rem nesciunt pariatur sit assumenda? Facilis ad necessitatibus ipsa deleniti provident earum id. Reprehenderit eos harum fugit iure!</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image ci-1"></div>
                <div class="card-content">
                    <h2>Ashtarak</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere et velit cumque rem nesciunt pariatur sit assumenda? Facilis ad necessitatibus ipsa deleniti provident earum id. Reprehenderit eos harum fugit iure!</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="card">
                <div class="card-image ci-1"></div>
                <div class="card-content">
                    <h2>Ashtarak</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere et velit cumque rem nesciunt pariatur sit assumenda? Facilis ad necessitatibus ipsa deleniti provident earum id. Reprehenderit eos harum fugit iure!</p>
                    <a href="#">Read More</a>
                </div>
            </div>

        </section>
    </main>
</div>
<%- include('partials/footer')%>
