<%- include('partials/head')%>
<%- include('partials/nav')%>
<div class="container">
    <h1 class="heading">Our Team</h1>

    <div class="profiles">
        <div class="profile">
            <img src="/frontend/images/Artur.jpg" class="profile-img">
            <h3 class="user-name">Artur</h3>
            <h5>Team Leader</h5>
            <p>I'm Qocharyan Artur from Ashtarak. I am 17 years old . </p>
        </div>
        <div class="profile">
            <img src="frontend/images/Tono.jpg" class="profile-img">

            <h3 class="user-name">Tono</h3>
            <h5>Front-end</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam facilis sint quod.</p>
        </div>
        <div class="profile">
            <img src="/frontend/images/Hasmik.jpg" class="profile-img">

            <h3 class="user-name">Hasmik</h3>
            <h5>Layod Designer</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, eveniet!</p>
        </div>

    </div>
    <!-- <div class="profiles">
       <div class="profile">
         <img src="img1.jpg" class="profile-img">

         <h3 class="user-name">William</h3>
         <h5>Creative Director</h5>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eveniet soluta hic sunt sit reprehenderit.</p>
       </div>
       <div class="profile">
         <img src="img2.jpg" class="profile-img">

         <h3 class="user-name">Camila</h3>
         <h5>Managing Partner</h5>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam facilis sint quod.</p>
       </div>
       <div class="profile">
         <img src="img3.jpg" class="profile-img">

         <h3 class="user-name">Isabella</h3>
         <h5>Project Manager</h5>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, eveniet!</p>
       </div>

     </div>-->
</div>
<%- include('partials/footer')%>
