.container{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.coming-soon{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/aragac.jpg');
}

.coming-soon h1 {
    font-size: 50px;
    padding: 30px 50px;
    background-color: #121212;
    color: white;
}

.patagraph-header{
    font-size: 25px;
    padding:10px 30px;
    padding-right: 100px;
    color: #121212;
    display: inline-block;
    border-bottom: 1px solid #121212;
}

.info-paje-container {
    width: 100%;
    transition: 0.5s;
}

main {
    display: flex;
    flex-direction: column;
}

/* header   */

.mainheader {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.mainheader > h1 {
    font-size: 64px;
    color: #fff;
    padding: 20px 45px;
    border-bottom: 2px solid #c7c7c7;
    text-transform: uppercase;
    text-shadow: 0 0 7px #000;
}

.mainheader > h2 {
    font-size: 44px;
    color: #fff;
    padding-top: 20px;
    text-shadow: 0 0 7px #000;
}



/* information-section */

.information-section {
    background-color: #f7f6f4;
    padding:3vw 10vw ;
    text-align: justify;
}

.information-section > p {
    color: #333;
    margin:20px 0;
}

.information-section > .info-header{
    width: 100%;
    text-align: center;
    padding: 0 10vw;
}

.information-section > .info-header > h1 {
    font-size: 64px;
    color: #111;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px #c7c7c7 solid;
}

/* two */

.two {
    background-color: #1e1f23;
    padding:3vw 10vw ;
}

.firstgalleryheader {
    background-color: #121315;
    padding: 60px 85px;
    text-align: center;
}

.firstgalleryheader > p {
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
}

.firstgalleryheader > h1 {
    font-size: 64px;
    color: #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px #eee solid;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.gallery_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100%;
}

/* three */

.three {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    padding:3vw 10vw ;
    background-color: #fff;
}

.card {
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.9);
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}


.card img {
    height: auto;
    display: block;
    width: 100%;
    transition: 0.2s;
}
.card> .card-name {
    font-size: 50px;
    display: flex;
    color: #fff;
    position: absolute;
    text-shadow: 0 0 10px #000;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.card > .buttons {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.card > .buttons > a {
    cursor: pointer;
    text-decoration: none;
    display: block;
    border: 2px solid #fff;
    margin: 15px;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
    line-height: 2;
    transition: 0.5s;
    padding: 10px;
}

.card > .buttons > a >  i{
    margin-right: 10px;
}

.card > .buttons >  a:hover{
    background-color: rgba(0,0,0,0.5);
}

.ci-1 {
    background-image: url('../images/aragac.jpg');
}

.card:hover > img{
    filter: blur(5px);
    transition: 0.2s;
}

.brief-information{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #1e1f23;
    padding: 20px;
    grid-gap: 20px;
    margin-bottom: 50px;
}
.brief-information > div{
    background-color:#121315 ;
    color: #ffffff;
    padding: 10px;
}
@media screen and (max-width: 900px) {
    .brief-information{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 600px) {
    .brief-information{
        grid-template-columns: repeat(1,1fr);
    }
}





.card:hover > .card-name{
    display: none;
}
.card:hover > .buttons{
    display: flex;
}
@media (max-width: 986px) {
    /* main */

    .mainheader > h1 {
        font-size: 50px;
        border-bottom: none;
    }

    .mainheader > h2 {
        font-size: 40px;
    }
    /* two */
    .gallery {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    /* three */
    .three {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 100%;
        height: auto;
        overflow: visible;
    }


    .card > .buttons , .card > .card-name {
        background-color: #0082e6;
        display: flex;
        flex-direction: row;
        text-align: center;
        transform: none;
        align-items: center;
        position: static;
    }

    .card > .buttons > a {
        width: 40%;
        margin: 15px auto;
    }


    .card:hover > img{
        filter: none;
    }

    .card > .card-name{
        text-shadow: none;
    }

    .card:hover > .card-name , .card > .card-name{
        display: block;
    }
    .card:hover > .buttons{
        display: flex;
    }
}

@media (max-width: 725px) {

    .firstgalleryheader {
        padding: 40px;
    }

    .firstgalleryheader > h1,
    .information-section > .info-header > h1{
        font-size: 40px;
    }
    .firstgalleryheader > p,
    .information-section > p {
        font-size: 16px;
    }


    .card > .buttons{
        flex-direction: column ;
    }

    .card  > .buttons a  {
        margin: 15px;
        padding: 10px 15px;
        width: 200px ;
    }
}


@media (max-width: 450px) {
    /* main */


    .mainheader > h1 {
        font-size: 30px;
        padding: 0;
    }

    .mainheader > h2 {
        font-size: 25px;
    }
    /* two */

    .firstgalleryheader > h1,
    .information-section > .info-header > h1{
        font-size: 30px;
    }

    .information-section > .info-header{
        padding: 0;
    }
}