@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swamp");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Page construction*/
.container {
    display: grid;
    grid-template-areas: "header header" "nav    main";
    grid-template-rows: 70px 1fr;
    grid-template-columns: minmax(40px, 250px) 1fr;
    height: 100vh;
}

/* header  start */

header {
    grid-area: header;
    background: #22242a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.header_left_area > h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.header_left_area > h3 > span {
    color: #19b3d3;
}

.logout_btn , .change_btn {
    padding: 5px;
    margin: 0 10px;
    background: #19b3d3;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.logout_btn:hover , .change_btn:hover {
    background: #0b87a6;
}

.heeadr_right_area{
    display: flex;
    align-items: center;
}

.heeadr_right_area > span{
    font-size: 25px;
    color: #ffffff;
}

/* header end */
/* navbar start */

.sidebar {
    background: #2f323a;
    width: 250px;
    padding: 30px 0;
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

.sidebar > .profile_info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.sidebar > .profile_info > .profile_image {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.sidebar > .profile_info > .adm {
    background-image: url('../images/admin.png');
}

.sidebar > .profile_info > .superadm {
    background-image: url('../images/main_admin.png');
}

.sidebar > .profile_info > h3 {
    color: #ccc;
    font-size: 20px;
    margin-bottom: 12px;
}

.sidebar > .profile_info > p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
}

.sidebar > a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar > a:hover {
    background: #19B3D3;
}

.sidebar > .active {
    border-left: 4px solid #19B3D3;
    color: #19B3D3;
}

.sidebar > .active:hover {
    background: transparent;
}

.sidebar > a > i {
    padding-right: 10px;
}

/* navbar end */
/* main content start */

.content {
    grid-area: main;
    padding: 20px;
    overflow: auto;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.admin-panel-content{
    background-image: url('/backend/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.admin-panel-content > h2{
    font-size: 80px;
    color: white;
    text-align: center;
    text-shadow: 0 0 5px #000;
}

/* main content end */

/* table css start */

.table-box{
    min-width: 800px;
    width: 1000px;
    background-color: #fff;
    box-shadow: 0 10px 100px rgba(0,0,0,0.7);
    overflow-y: auto;
    margin: 20px;
}

.table-box table{
    width: 100%;
    position: relative;
}

.table-box table, .table-box table tr td , .table-box table tr th{
    border: 1px solid #22242a;
    border-collapse: collapse;
    text-align: left;
}

.table-box table tr td , .table-box table tr th{
    padding: 10px;
    font-size: 18px;
}

 .manage-tools{
    display: flex;
    height: 100%;
    align-items:center;
    justify-content: flex-start;
    flex-direction: column;
}
.manage-tools > div{
    display: flex;
    align-items:center;
    justify-content: flex-start;
}

.table-box table tr td .manage_tool {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    border: 1px solid #22242a;
    border-radius: 4px;
    min-height: 50px;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.table-box table tr td .manage_tool i{
    margin: 0 5px;
}

.table-box table tr  .block{
    background-color: #0082e6;
}

.table-box table tr  .unblock{
    background-color: #339900;
}

.table-box table tr  .delete{
    background-color: #cc0000;
}

.table-box table tr .edit{
    background-color: #0082e6;
}

.table-box table tr th{
    background: #2f323a;
    color: #fff;
}

.table-box table tr th:nth-child(1){
    text-align: center;
    background: #22242a;
    width: 50px;
}

.table-box table tr td:nth-child(1){
    text-align: center;
    background: #2f323a;
    color: #fff;
}

.table-box table tr th{
    position: sticky;
    top: -1px;
}

.image-demo > img{
    width: 300px;
    height: 170px;
}

/* table css end */
