<%- include('partials/head')%>
<div class="container">
    <div class="content">
        <h2>404</h2>
        <h4>OPPS! Page Not Found</h4>
        <p>The page you were looking for does not exists.You may have mistyped the
        address or the page may have moved</p>
        <a href="/">Back To Home</a>
    </div>
    <script>
        const container = document.querySelector(".container")
        window.addEventListener('mousemove',function (e) {
            let x = e.clientX/5,
                y = e.clientY/5
            container.style.backgroundPositionX = 0-x + 'px'
            container.style.backgroundPositionY = 0-y + 'px'
        })
    </script>
</div>
<%- include('partials/ftooter')%>