<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main_about"><h2 class="welcome">Welcome</h2>
      <div class="under_welcome">
        <div>
           <h2 class="if-you">Welcome to our website, we want to inform you about its structure.
              The site consists of 2 parts, the first for getting acquainted with the sights, the second for information.
            </h2>
        </div>
    </div>
      <div class="welcome_buttons">
        <button class="wel_but" type="submit" value="">go to info</button>
        <button class="wel_but" type="submit" value="">go tourism</button>
      </div>
  </body>
</html>
