<nav>
    <a href="/" class="logo"><div class="logoimage"></div></a>
    <ul id="menu">
        <i class="fa fa-times" id="close_menu"></i>
        <li >
            <i class="fa fa-globe"></i><a href="/information">Information</a>
        </li>
        <li><i class="fa fa-image"></i><a href="#">Tourizm</a></li>
        <li><i class="fa fa-users"></i><a href="#">Team</a></li>
        <li><i class="fa fa-comments"></i><a href="#">Feedback</a></li>
    </ul>
    <i class="fa fa-bars "  id="open_menu"></i>
</nav>