<header>
    <div class="header_left_area">
        <h3><span>Discover</span> Aragatsotn</h3>
    </div>
    <div class="heeadr_right_area">
        <a href="#" class="logout_btn">Logout</a>
    </div>
</header>