<div class="sidebar">
    <div class="profile_info">
        <% if (admin.is_super === '1'){%>
           <div class="profile_image superadm"></div>
        <%}%>
            <%console.log(admin.is_super)%>
            <% if(admin.is_super === '0'){%>
                <div class="profile_image adm"></div>
            <%}%>
        <h3><%=admin.name%> <%=admin.surname%></h3>
        <p><%=admin.email%></p>
    </div>
    <a href="#" class="active"
    ><i class="fas fa-desktop"></i><span>Dashboard</span></a
    >
    <a href="#"
    ><i class="fas fa-cogs"></i><span>Components</span></a
    >
    <a href="#"><i class="fas fa-table"></i><span>Tables</span></a>
    <a href="#"><i class="fas fa-th"></i><span>Forms</span></a>
    <a href="#"
    ><i class="fas fa-info-circle"></i><span>About</span></a
    >
    <a href="#"
    ><i class="fas fa-sliders-h"></i><span>Settings</span></a
    >
</div>