<div class="sidebar">
    <div class="profile_info">
        <% if (admin.is_super === '1'){ %>
            <div class="profile_image superadm"></div>
        <% } %>
        <% if(admin.is_super === '0'){ %>
            <div class="profile_image adm"></div>
        <% } %>
        <h3><%= admin.name %> <%= admin.surname %></h3>
        <p><%= admin.email %></p>
    </div>
    <% if (admin.is_super === '1'){ %>
        <a href="/backend/manageadmins" id="manageadmins" class="menu-item">
            <i class="fas fa-users-cog"></i><span>Manage Admins</span>
        </a>
    <% } %>

    <a href="/backend/addadmin" id="addadmin" class="menu-item">
        <i class="fas fa-user-plus"></i><span>Add Admin </span>
    </a>
    <a href="/backend/managefeedbacks" id="managefeedbacks" class="menu-item">
        <i class="fas fa-comments"></i><span>Manage Feedbacks</span>
    </a>
    <a href="/backend/manageslider" id="manageslider" class="menu-item">
        <i class="far fa-images"></i><span>Manage Slider</span>
    </a>
    <a href="/backend/addslide" id="addslide" class="menu-item">
        <i class="far fa-image"></i><span>Add Slide</span>
    </a>
    <a href="/backend/uploadimage" id="uploadimage" class="menu-item">
        <i class="fas fa-upload"></i></i><span>Upload Image</span>
    </a>
    <script>

        let URLArr = window.location.href.split('/')
        let activeItemsArr = Array.from(document.getElementsByClassName('menu-item'))
        let back = +URLArr.indexOf('backend')
        if (back != -1) setActiveItem(back)

        function setActiveItem(back) {
            let activeIndex = back + 1
            let activeItem = document.getElementById(URLArr[activeIndex])
            if (activeItemsArr.includes(activeItem)) activeItem.classList.toggle('active')
        }
    </script>
</div>
