<%- include('partials/head')%>

        <div class="container">
            <%- include('partials/header')%>
            <%- include('partials/sidebar')%>
            
            <div class="content admin-panel-content">
                    <h2>Welcome to Admin Panel</h2>
                    <h2>enjoy your work</h2>
            </div>
        </div>
<%- include('partials/footer')%>