<%- include('partials/head')%>

        <div class="container">
            <%- include('partials/header')%>
            <%- include('partials/sidebar')%>
            <div class="content">
            </div>
        </div>
<%- include('partials/footer')%>
