<%- include('partials/head')%>
<section class="container">
        <nav class="navigation">
            <ul class="navlist" type="none">
                <li><a href="">Item One</a></li>
                <li><a href="">Item Two </a></li>
                <li><a href="">Item Three </a></li>
                <li><a href="">Item Four </a></li>
                <li><a href="">Item Five </a></li>
            </ul>
        </nav>
        <main class="main"></main>
        <footer class="footer">
            <p>2020 Discover Aragatsotn &#169 BackEnd</p>
            <p>Log Out {icon}</p>
        </footer>
    </section>
<%- include('partials/footer')%>
