<%- include('partials/head')%>
    <form  class="login_form">
        <h1>Login</h1>
        <input type="email" class="email" placeholder="Email" name="email">
        <input type="password" class="password" placeholder="Password" name="password">
        <input type="submit" class="login" value="login">
    </form>
<%- include('partials/footer')%>
