<%- include('partials/head')%>
    <div class="container">
        <%- include('partials/header')%>
        <%- include('partials/sidebar')%>
        <h1>dashboard</h1>
    </div>
<%- include('partials/footer')%>

