<%- include('partials/head')%>
<%- include('partials/message')%>

    <form  class="login_form" action="/backend/verify" method="post">
        <h1>Login</h1>
        <%- include('partials/sessionerrors')%>
        <input type="text" class="email" placeholder="Email" name="email">
        <div class="input-wrapper"><input type="password" class="password" placeholder="Password" name="password"><i class="fas fa-eye see"></i></div>
        <input type="submit" class="login" value="login">
    </form>
<script src="/backend/javaScript/seeButton.js"></script>

<%- include('partials/footer')%>
